<% for (var i = 0; i < blocks.length; i++) { %>

<div class="content-block">
	<div class="content-details">
		<div class="content-title">
			<h3><%= blocks[i].title %></h3>
		</div>
		<div class="content-meta">
			<ul>
				<li>Category: <%= blocks[i].category %></li>
				<li>Date: <%= blocks[i].date %></li>
				<li>Tags: 
				<% for (var j = 0; j < blocks[i].tags.length; j++) { %>
					<span class="content-tags"><%= blocks[i].tags[j].tag %></span>
				<% } %>
				</li>
			</ul>
		</div>
	</div>
	<div class="content-abstract">
		<div class="content-text">
			<p><%= blocks[i].abstract %></p>
		</div>
		<div class="content-media">

		<% for (var k = 0; k < blocks[i].images.length; k++) { %>
			<img src="<%= blocks[i].images[k].imgpath %>" alt="">
		<% } %>

		</div>
	</div>
</div>

<% } %>