<div class="card content-block" <% if (blocks.length == 0) { %>style="display: none;"<% } %>>

	<%
	for (var i = blocks.length - 1; i >= 0; i--) {
		if (blocks[i].published) {
	%>

	<div class="card-container" onclick="load_project(<%= blocks[i].serial %>)">
		<div class="content-img" style="background-image: url('<%= blocks[i].images[0].imgpath %>')"></div>
		<div class="content-details">
			<div class="content-title">
				<h3><%= blocks[i].title %></h3>
			</div>
			<div class="content-description">
				<p><%= blocks[i].abstract %></p>
			</div>
			<div class="content-category category-<%= blocks[i].category %>"><%= blocks[i].category %></div>
		</div>
	</div>

	<%
		}
	}
	%>

</div>